.learner-span {
  max-width: 33%;
}

.learner-span > a > img {
  width: 100%;
  height: auto;
}

@media only screen and (width: 1920px) {
  .learner-span {
    width: auto;
  }
}

@media only screen and (width: 2560px) {
  .learner-span {
    width: auto;
  }
}

@media only screen and (width: 3840px) {
  .learner-span {
    width: auto;
  }
}
