:root {
  --color-blue: #00A3DF;
  --color-green: #97C93D;
  --color-red: #ED3F60;
  --color-yellow: #F2BB1A;
  --color-dark-blue: #4A539F;
  --color-dark-green: #1B8C5C;
  --color-dark-red: #981C4D;
  --color-orange: #E47226;
  --color-slate-grey: #252531;
  --color-light-grey: #E2E3E4; }

.text-blue {
  color: #00A3DF; }

.bg-blue {
  background-color: #00A3DF; }

.text-green {
  color: #97C93D; }

.bg-green {
  background-color: #97C93D; }

.text-red {
  color: #ED3F60; }

.bg-red {
  background-color: #ED3F60; }

.text-yellow {
  color: #F2BB1A; }

.bg-yellow {
  background-color: #F2BB1A; }

.text-dark-blue {
  color: #4A539F; }

.bg-dark-blue {
  background-color: #4A539F; }

.text-dark-green {
  color: #1B8C5C; }

.bg-dark-green {
  background-color: #1B8C5C; }

.text-dark-red {
  color: #981C4D; }

.bg-dark-red {
  background-color: #981C4D; }

.text-orange {
  color: #E47226; }

.bg-orange {
  background-color: #E47226; }

.text-slate-grey {
  color: #252531; }

.bg-slate-grey {
  background-color: #252531; }

.text-light-grey {
  color: #E2E3E4; }

.bg-light-grey {
  background-color: #E2E3E4; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-Black.eot");
  src: url("/assets/fonts/Stag-Black.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-Black.woff") format("woff"), url("/assets/fonts/Stag-Black.otf") format("opentype"), url("/assets/fonts/Stag-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-Bold.eot");
  src: url("/assets/fonts/Stag-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-Bold.woff") format("woff"), url("/assets/fonts/Stag-Bold.otf") format("opentype"), url("/assets/fonts/Stag-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-LightItalic.eot");
  src: url("/assets/fonts/Stag-LightItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-LightItalic.woff") format("woff"), url("/assets/fonts/Stag-LightItalic.otf") format("opentype"), url("/assets/fonts/Stag-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-SemiboldItalic.eot");
  src: url("/assets/fonts/Stag-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-SemiboldItalic.woff") format("woff"), url("/assets/fonts/Stag-SemiboldItalic.otf") format("opentype"), url("/assets/fonts/Stag-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-Light.eot");
  src: url("/assets/fonts/Stag-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-Light.woff") format("woff"), url("/assets/fonts/Stag-Light.otf") format("opentype"), url("/assets/fonts/Stag-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-MediumItalic.eot");
  src: url("/assets/fonts/Stag-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-MediumItalic.woff") format("woff"), url("/assets/fonts/Stag-MediumItalic.otf") format("opentype"), url("/assets/fonts/Stag-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-Medium.eot");
  src: url("/assets/fonts/Stag-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-Medium.woff") format("woff"), url("/assets/fonts/Stag-Medium.otf") format("opentype"), url("/assets/fonts/Stag-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-Semibold.eot");
  src: url("/assets/fonts/Stag-Semibold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-Semibold.woff") format("woff"), url("/assets/fonts/Stag-Semibold.otf") format("opentype"), url("/assets/fonts/Stag-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-BlackItalic.eot");
  src: url("/assets/fonts/Stag-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-BlackItalic.woff") format("woff"), url("/assets/fonts/Stag-BlackItalic.otf") format("opentype"), url("/assets/fonts/Stag-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-ThinItalic.eot");
  src: url("/assets/fonts/Stag-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-ThinItalic.woff") format("woff"), url("/assets/fonts/Stag-ThinItalic.otf") format("opentype"), url("/assets/fonts/Stag-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-BoldItalic.eot");
  src: url("/assets/fonts/Stag-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-BoldItalic.woff") format("woff"), url("/assets/fonts/Stag-BoldItalic.otf") format("opentype"), url("/assets/fonts/Stag-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Stag';
  src: url("/assets/fonts/Stag-Thin.eot");
  src: url("/assets/fonts/Stag-Thin.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-Thin.woff") format("woff"), url("/assets/fonts/Stag-Thin.otf") format("opentype"), url("/assets/fonts/Stag-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Stag Book';
  src: url("/assets/fonts/Stag-Book.eot");
  src: url("/assets/fonts/Stag-Book.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-Book.woff") format("woff"), url("/assets/fonts/Stag-Book.otf") format("opentype"), url("/assets/fonts/Stag-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Stag Book';
  src: url("/assets/fonts/Stag-BookItalic.eot");
  src: url("/assets/fonts/Stag-BookItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-BookItalic.woff") format("woff"), url("/assets/fonts/Stag-BookItalic.otf") format("opentype"), url("/assets/fonts/Stag-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Stag Dot';
  src: url("/assets/fonts/Stag-ThinDot.eot");
  src: url("/assets/fonts/Stag-ThinDot.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-ThinDot.woff") format("woff"), url("/assets/fonts/Stag-ThinDot.otf") format("opentype"), url("/assets/fonts/Stag-ThinDot.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Stag Dot';
  src: url("/assets/fonts/Stag-BoldDot.eot");
  src: url("/assets/fonts/Stag-BoldDot.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Stag-BoldDot.woff") format("woff"), url("/assets/fonts/Stag-BoldDot.otf") format("opentype"), url("/assets/fonts/Stag-BoldDot.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/fonts/ProximaNova-Black.eot");
  src: url("/assets/fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ProximaNova-Black.woff") format("woff"), url("/assets/fonts/ProximaNova-Black.otf") format("opentype"), url("/assets/fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/fonts/ProximaNova-LightIt.eot");
  src: url("/assets/fonts/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ProximaNova-LightIt.woff") format("woff"), url("/assets/fonts/ProximaNova-LightIt.otf") format("opentype"), url("/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/fonts/ProximaNova-Bold.eot");
  src: url("/assets/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ProximaNova-Bold.woff") format("woff"), url("/assets/fonts/ProximaNova-Bold.otf") format("opentype"), url("/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/fonts/ProximaNova-Regular.eot");
  src: url("/assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ProximaNova-Regular.woff") format("woff"), url("/assets/fonts/ProximaNova-Regular.otf") format("opentype"), url("/assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/fonts/ProximaNova-BlackIt.eot");
  src: url("/assets/fonts/ProximaNova-BlackIt.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ProximaNova-BlackIt.woff") format("woff"), url("/assets/fonts/ProximaNova-BlackIt.otf") format("opentype"), url("/assets/fonts/ProximaNova-BlackIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/fonts/ProximaNova-RegularIt.eot");
  src: url("/assets/fonts/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ProximaNova-RegularIt.woff") format("woff"), url("/assets/fonts/ProximaNova-RegularIt.otf") format("opentype"), url("/assets/fonts/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/fonts/ProximaNova-BoldIt.eot");
  src: url("/assets/fonts/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ProximaNova-BoldIt.woff") format("woff"), url("/assets/fonts/ProximaNova-BoldIt.otf") format("opentype"), url("/assets/fonts/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/fonts/ProximaNova-Semibold.eot");
  src: url("/assets/fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ProximaNova-Semibold.woff") format("woff"), url("/assets/fonts/ProximaNova-Semibold.otf") format("opentype"), url("/assets/fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/fonts/ProximaNova-Light.eot");
  src: url("/assets/fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ProximaNova-Light.woff") format("woff"), url("/assets/fonts/ProximaNova-Light.otf") format("opentype"), url("/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/fonts/ProximaNova-ThinIt.eot");
  src: url("/assets/fonts/ProximaNova-ThinIt.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ProximaNova-ThinIt.woff") format("woff"), url("/assets/fonts/ProximaNova-ThinIt.otf") format("opentype"), url("/assets/fonts/ProximaNova-ThinIt.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/fonts/ProximaNova-SemiboldIt.eot");
  src: url("/assets/fonts/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ProximaNova-SemiboldIt.woff") format("woff"), url("/assets/fonts/ProximaNova-SemiboldIt.otf") format("opentype"), url("/assets/fonts/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
