.learner-gallery-container h1 {
  color: #538C01;
}

.search-form {
  display: flex;
  justify-content: space-evenly;
}

.searchbar {
  flex: 0.25;
  font-size: 2rem;
  outline: none;
}

.searchbar:focus {
  border-color: #0B777A;
}

.selectbar {
  flex: 0.25;
  font-size: 2rem;
  outline: none;
}

.selectbar:focus {
  border-color: #0B777A;
}
