body {
  padding-top: 80px;
  padding-bottom: 80px;
}

.home-page-image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.home-page-image {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
}

.flex-column-home-page {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.footer {
  text-align: center;
}

.lg-loading {
  display: flex;
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
