.logo-list {
  list-style: none;
  background-color: green;
  border-color: green;
  border-style: solid;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.logo-list-image {
  width: 5rem;
  height: 5rem;
}
